.mobail-menu{
    width: 100%;
    flex-direction: column;
    background-color: $color-white;
    height: 100%;
    overflow-y: scroll;

    &__content{
        display: flex;
        margin: 0 auto;
        max-width: 650px;
        justify-content: center;
        flex-direction: column;
        padding: 20px 30px;




        &__item{
            display: flex;
            justify-content: center;
           font-size: 16px;
           align-items: center;
           opacity:1;
           padding: 20px 0;
    
        }
        &__btn{
            max-width: 100%;
            margin: 0 auto;
        }

    }

}