.authenticate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    margin-top: 40px;
    align-items: center;
    &__anchor{
        cursor: pointer;
    }
}