.navbar{
    display:flex;
    justify-content:space-between;
    margin: 10px;
    padding: 10px 20px;
    background-color: $color-white;
    overflow: hidden;
    width: 100%;
    border-bottom:  1px solid rgb(174, 171, 171);
    align-items: center;
    min-height: 70px;

    &__left-sife{
        &__logo{
            &__text{
                @media screen and (max-width:900px){
                    font-size: 15px;
                    
                }

            }
        }
    }
&__right-side{
    display: flex;
    &__item{
        display: flex;
        justify-content:center;
        align-items: center;
        padding: 0 20px;
        opacity: 0.9;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
        &__btn{
            background-color: rgb(207, 199, 199);
            &:hover{
                background-color: rgb(227, 161, 161);
            }
        }
        &--selected{
            font-weight: 900;
            opacity: 1;
        }
    }

}
}
