.product-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;
    padding: 30px;
            max-width: 400px;
            border: 1px solid rgb(234, 223, 223);


    &__content{
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        &__img{
            width: 100%;
          
        }
        &__title{
            font-size: 18px;
            font-weight: 600;
            text-align: center;
        }
        &__price{
            display: flex;
            justify-content: center;
            font-size: 32px;
            align-items:center;
            font-weight: 500;

            &::before{
                content: "$";
                font-size: 22px;
                color: $color-grey;
                margin-right: 1px;
            }
                &__slash{
                color:gray;
                text-decoration: line-through;
                font-size: 22px;
                margin-left: 10px;
            }
        
           

        }
         &__description{
                padding-bottom: 20px;
                text-align: center;
            }

      
    }
      &__btn{
           
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            background-color: gray;

        }
}