.cart-card {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;
      box-shadow: 0px 2px 70px 0px rgb(110 130 208 / 18%);


    &__image{
        width: 200px;
    }
    &__title{
        font-weight: bold;
    }
    &__description{
        max-width: 200px;

    }
    &__icon{
        font-size: 40px;
        cursor: pointer;
    }
   @media screen and (max-width: 800px){
flex-direction: column;
font-size: 25px;
gap: 25px;
   }
    
    
}
